body{
 overflow: hidden;
}
.container{
 background-image: url(./OIP\ \(2\).jpg);
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center;
 font-family:serif;
 background-color: darkkhaki;
 color:firebrick;
 background-image: url("../Downloads/nature1.jpg");
 background-size: cover;
 /* background-position:; */
 /* background-repeat: repeat; */
 width: 1000px;
 height: 900px;
 position: relative;
 margin: 60px auto;
 overflow: hidden;
}

.loginbox{
 width: 320px;
 height: 480px;
 background: #000;
 color: darkgray;
 top: 50%;
 left: 50%;
 position:fixed;
 transform: translate(-50%,-50%);
 box-sizing: border-box;
 /* box-decoration-break: slice; */
 /* background-image: url("../Downloads/downloads/Frame2.png"); */
 background-size: 50%;
 background-repeat: repeat;

}
.avatar{ 
 width: 100px;
 height: 100px;
 border-radius: 50%;
 position: absolute;
 top: -50px;
 /* left: calc(-50% - 50px); */
 right: calc(+40% - 20px);

}
h1{
 margin: 0;
 padding: 0;
 text-align: center;
 font-size: 17px;
 color: aqua;
}
h2{
 margin: 0;
 padding: 10px;
 text-align: center;
 font-size: 20px;
}
.loginbox p{
 margin: 0px;
 padding: 0px;
 font-weight: bold;
}
.loginbox input{
 width: 75%;
 margin-bottom: 20px;
}
.loginbox input[type="text"], input[type="password"]
{
 border: none;
 border-bottom: 1px solid #fff;
 background: transparent;
 outline: none;
 height: 40px;
 color: #fff;
 font-size: 12px;
}

.loginbox input[type="submit"]

{
 border:none;
 outline: none;
 height: 40px;
 background: #fb2525;
 color: #fff;
 font-size: 18px;
 border-radius: 20px;

}
.loginbox input[type="submit"]:hover
{
 cursor: pointer;
 background: blueviolet;
 color: #000;
}
.loginbox a{
 text-decoration: none;
 font-size: 16px;
 line-height: 20px;
 color:dimgray;
}
.loginbox a:hover
{
 color:blueviolet;
}



